
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
  <title></title>
</head>
<body>


<div class="container">

  <div class="row">
    <div class="col-sm cajas">
        <div class="tactilproducts" onclick="clickP();" onmousedown="mouseDownP();">
            <span>Productos</span>
        </div>
    </div>
    <div class="col-sm cajas" onmousedown="mouseDownL();" onclick="clickL();">
        <div class="tactillogin">
            <span>Login</span>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm cajas" onmousedown="mouseDownR();" onclick="clickR();">
        <div class="tactilregistro">
            <span>Registro</span>
        </div>
    </div>
    <div class="col-sm cajas" onmousedown="mouseDownS();" onclick="clickS();">
        <div class="tactilseguir">
            <span>Seguir</span>
        </div>
    </div>
  </div>
  
</div>


</body>
<script src="js/jquery-3.4.1.js"></script>


</html>


