
<div  ng-controller="menuController">
  <nav ng-if="validation_user" class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div  class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Julia Testa App</a>
      <button class="navbar-toggler navbar-toggler-right btnmenucolor" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/JuliaTestaApp/collections">Home</a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" class="nav-link js-scroll-trigger" ng-click="CloseSession()" >Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="container"  ng-if="validation_user">
  <br><br><br><br>



  <!-- Collections -->
  <div class="row">
    <!-- Start -->
    <div class="col-xl-3 col-md-6 mb-4  " ng-repeat="coll in collectionsall">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ coll.title }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{coll.body_html}}</div>
            </div>
            <div class="col-auto">
              <a href="/JuliaTestaApp/products/{{coll.collection_id}}" class="btn btn-info">
                <i class="zmdi zmdi-collection-item"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------>
  </div>
  <!------------>





  </div>

