
<div  ng-controller="menuController">
    <nav ng-if="validation_user" class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div  class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Julia Testa App</a>
        <button class="navbar-toggler navbar-toggler-right btnmenucolor" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/JuliaTestaApp/collections">Home</a>
            </li>
            <li class="nav-item">
              <a style="cursor: pointer;" class="nav-link js-scroll-trigger" ng-click="CloseSession()" >Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  
  <div class="container"  ng-if="validation_user">
    <br><br><br><br>
    
    <a href="/JuliaTestaApp/collections"> Home </a>  -> {{collectionName}}
    <hr>
    <!-- Collection Products -->
    <h2>{{collectionName}}</h2>
    <div class="row">
      <div class="item col-md-4" ng-repeat="prodcoll in collectionsProductsall">
        <p class="title">{{ prodcoll.title }}</p>
      </div>
    </div>
    <!------------>
    <br>
    <hr>
    <!-- Products -->
    <h2>All Products</h2>
    <div class="row">
      <div class="item col-md-4" ng-repeat="prod in filtroProducts track by $index">
        <p class="title">{{ prod.title }}</p>
      </div>
    </div>
    <!--PAgination-->

    <ul pagination  total-items="countproductsall" max-size="maxSize"   items-per-page="numPerPageProducts" page="currentPageProducts"></ul>

    <!------------>
  
    <a style="width: 35% !important; float: right;" style="width: 20% !important;" href="#/" class="btn btn-default btn-block"> Atras</a>
  
  
  
    </div>
  
  