
<div  ng-controller="menuController">
    <nav ng-if="validation_user" class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div  class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Julia Testa App</a>
        <button class="navbar-toggler navbar-toggler-right btnmenucolor" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/JuliaTestaApp/collections">Home</a>
            </li>
            <li class="nav-item">
              <a style="cursor: pointer;" class="nav-link js-scroll-trigger" ng-click="CloseSession()" >Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  
  <div class="container"  ng-if="validation_user">
    <br><br><br><br>
    
    <a href="/JuliaTestaApp/collections"> Home </a>  -> {{collectionName}}
    <hr>
    <!-- Collection Products -->
    <h2>{{collectionName}}</h2>
    <div class="row">
      <div class="item col-md-4" ng-repeat="prodcoll in collectionsProductsall">
        <p class="title">{{ prodcoll.title }}</p>
      </div>
    </div>
    <!------------>
    <br>
    <hr>
    <!-- Products -->
    <h2>All Products</h2>
    <br>
    <!-- Busqueda -->
    <div class="row">
      <div class="col-1">
        <label class="col-form-label">
          View
        </label>
      </div>
      <div class="col-2">
         <select class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> 
      </div> 
      <div class="col-3">
        <label class="col-form-label">
          records at a time.
        </label>
      </div>
      <div class="item col-md-6">
        <input class="form-control" placeholder="Enter keywords here after products finish loading..."  type="text" ng-model="busquedaprod" ng-keyup="searchtxt(busquedaprod)">
      </div> 
    </div>
    <!------------>
    <br>

    <!-- ver por -->
    <div class="row">
      
    </div> 
    <!---------->

    <!------ products ------>
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Check</th>
          <th class="th-sm">ID</th>
          <th class="th-sm">Title</th>
          <th class="th-sm">Variants</th>
          <th class="th-sm">Selected</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in productsall.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
          <td style="text-align: center;" >
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input"  type="checkbox" ng-model="row.Selected" ng-click="toggleSelection(row.id)" />
              <span class="custom-control-indicator"></span>
            </label>  
          </td>
          <td>{{row.id}}</td>  
          <td>{{row.title}}</td>
          <td>
            <table>
              <thead>
                <tr>
                  <th>Color</th>
                  <th>Price</th>
                  <th class="th-sm">Compare at Price</th>
                </tr>
              </thead>
                <tr ng-repeat="variantes in row.variants">
                    <td>{{variantes.title}}</td>
                    <td>{{variantes.price}}</td>
                    <td>{{variantes.compare_at_price}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>{{row.Selected}}</td>
        </tr>
      </tbody>
    </table>
    <!------------>

    <!-- pagination -->
    <div class="row">
      <div class="col-12">
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize"></pagination>
      </div>
    </div>
    <!------------>
    
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-success" ng-click="GetValue()" >Add discount</button>
      </div>
    </div>
    <hr>

    <br><br>



  
    
  
  
  
    </div>


